// app global css in SCSS form
h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0 0 1rem 0;
  padding: 0;
}
h2 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin: 0 0 0.8rem 0;
  padding: 0;
}
